section {
  border:4px solid grey;
  border-radius:15px;
  box-shadow: 5px 5px 5px grey;
  float:left;
  height:360px;
  padding: 20px;
  margin:10px;
}

#plotSettings {
  width:140px;
}

#plot {
  width:650px;
}
#theDiv {
  width:300px;
  height:33px;
  background-color: pink;
}
canvas {
  border:1px solid black;
}

.ballSection {
  height:auto;
}