#gameSection{
  border:2px solid grey;
  margin:10px;
}

.p1Color{
  color: mediumseagreen;
}

.p2Color{
  color: orange;
}

.center{
  text-align: center;
}

#player1Div, #player2Div {
  box-sizing:border-box;
  outline: 1px solid black;
  width: calc(50% - 275px);
  height: 500px;
  padding:20px;
}

canvas{
  border:20px solid grey;
  box-shadow: 10px 10px 10px green;
  background-color: transparent;
}

#canvasDiv, #player1Div, #player2Div{
  display: inline-block;
  vertical-align: top;
}

button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}

button:hover{
  background-color:green ;
}

button:active{
  color:white ;
}

body {
  background-image: url('../assets/backgroundImage.jpg');
  background-size: cover;
  margin: 0;
  color:white;
}
