#gameSection{
  border:2px solid grey;
  margin:10px;
}

.p1Color{
  color: mediumseagreen;
}

.p2Color{
  color: orange;
}

.center{
  text-align: center;
}

#player1Div, #player2Div {
  box-sizing:border-box;
  outline: 1px solid black;
  width: calc(50% - 275px);
  height: 500px;
  padding:20px;
}

canvas{
  border:20px solid grey;
  border-radius: 15px;
  box-shadow: 10px 10px 10px mediumseagreen;
  background-color: transparent;
}

#canvasDiv, #player1Div, #player2Div{
  display: inline-block;
  vertical-align: top;
}

button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  background-color:mediumseagreen;
  color:white;
  border: solid transparent;
  cursor: pointer;
  border-width:4px 0 0;
  font-size: 15px;
  font-weight: 1000;
}

button:hover{
  background-color:mediumspringgreen;
  color:green;
  transform: scale(1.1) rotate(-2deg);
}

button:active{
  border-width:0 0 4px;
}

body {
  background-image: url('../assets/backgroundImage.jpg');
  background-size: cover;
  margin: 0;
  color:white;
  font-family: sans-serif;
}